@page
@model MyProj_L00172691.Pages.Admin.Books.CreateModel
@{
}
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Create New Book</h2>
		</div>

		<div class="mb-3">
			<label asp-for="@Model.Book.Title"></label>
			<input asp-for="@Model.Book.Title" class="form-control" />
			<span asp-validation-for="@Model.Book.Title" class="text-danger"></span>

			<label asp-for="@Model.Book.AuthorId"></label>
			<select asp-for="@Model.Book.AuthorId" asp-items="@Model.AuthorList" class="form-select">
				<option disabled selected="selected Author ---"></option>
			</select>
			<span asp-validation-for="@Model.Book.AuthorId" class="text-danger"></span>

			<label asp-for="@Model.Book.Genre"></label>
			<select asp-for="@Model.Book.GenreId" asp-items="@Model.GenreList" class="form-select">
				<option disabled selected="selected Genre ---"></option>
				</select>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Book.ImageName">File Upload</label>
			<input type="file" name="files" id="upLoadBox" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-page="..\Authors\Create" class="btn btn-secondary">Add a new author</a>
		<a asp-page="..\Genre\Create" class="btn btn-secondary">Add a new genre</a>
		<a asp-page="Index" class="btn btn-secondary">Back to Index</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_validationScriptsPartial" />
	}
}