@page
@model MyProj_L00172691.Pages.Admin.Books.IndexModel
@{
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h3 class="text-primary">Book</h3>
		</div>
		<div class="col-6">
			<a asp-page="Create" class="btn btn-primary">
				Create New Book
			</a>
		</div>
	</div>
</div>
<br/> <br/> <br/>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Book</th>
			<th>Author</th>
			<th>Genre</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model.Books)
		{
			<tr>
				<td width="50%">@obj.Title</td>
				<td width="50%">@obj.Author?.Name</td>
				<td width="50%">@obj.Genre?.Name</td>
				<td>
					<a asp-page="Edit" asp-route-id="@obj.Id">Edit</a>
				</td>
				<td>
					<a asp-page="Delete" asp-route-id="@obj.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>